@{
    ViewData["Title"] = "Setting";
    Layout = "~/Views/Shared/_WebReport.cshtml";
}

<br />
<br />
<table class="col-md-12">
    <h4>Yönetim İşlemleri</h4>
    <div class="col-md-12 grid-margin transparent">
        <div class="row">
            <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <p class="mb-4">Kullanıcı Listesi</p>
                            <p class="fs-30 mb-2"><i class="ti-user"></i></p>
                        </div>
                        Kullanıcı ekleme ve güncelleme işlemlerini yapabilirsiniz
                    </div>
                    <a href="/Management/UserList/" class="btn btn-primary">Giriş Yap</a>
                </div>
            </div>
            <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-light-blue">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <p class="mb-4">Rapor Listesi</p>
                            <p class="fs-30 mb-2"><i class="ti-agenda"></i></p>
                        </div>
                        Rapor ekleme ve düzenleme işlemlerini yapabilirsiniz
                    </div>
                    <a href="/Management/ReportList/" class="btn btn-primary">Giriş Yap</a>
                </div>
            </div>
           
            <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue">
                    <div class="card-body">
                        <p class="mb-4">Pek Yakında</p>
                        <p class="fs-30 mb-2">#######</</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue">
                    <div class="card-body">
                        <p class="mb-4">Pek Yakında</p>
                        <p class="fs-30 mb-2">#######</</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                <div class="card card-light-blue">
                    <div class="card-body">
                        <p class="mb-4">Pek Yakında</p>
                        <p class="fs-30 mb-2">#######</</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 stretch-card transparent">
                <div class="card card-light-danger">
                    <div class="card-body">
                        <p class="mb-4">Pek Yakında</p>
                        <p class="fs-30 mb-2">#######</</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</table>